.button {
  color: #fff;
  border-radius: 5px;
  padding: 10px 70px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.button_withBackground {
  background-color: #16b939;
  border: none;
  cursor: pointer;
  transition: box-shadow .2s linear;
}

.button_withBackground:hover {
  box-shadow: 0 0 15px #1eee6e;
}

.button_withoutBackground {
  position: relative;
  z-index: 2;
  background: none;
  border: 2px solid #fff;
  transition: background .3s linear;
}

.button_withoutBackground:hover {
  background: #088022;
}
