.authorizationPage {
  margin: auto;
  background-color: rgb(63, 63, 63);
  width: 500px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 3px 3px 5px #000000;
}

.authorizationPage__title {
  margin: 0 0 60px;
  text-align: center;
}

.authorizationPage__error {
  margin: 0;
  color: rgb(240, 12, 12);
  padding: 7px 0 7px;
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 14px;
}

.authorizationPage__serverError {
  text-align: center;
  color: rgb(240, 12, 12);
  margin: 0;
}

.authorizationPage__question {
  display: block;
  text-align: center;
}

.authorizationPage__link {
  margin-left: 15px;
  color: #fff;
}
