.movieInfo {
  position: relative;
  z-index: 1;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.movieInfo__image {
  height: 600px;
  margin-right: 150px;
  border: 1px solid #646464;
}

.movieInfo__title {
  text-decoration: underline;
  font-size: 45px;
  letter-spacing: 1.5px;
  margin: 30px 0 0;
  text-transform: capitalize;
}

.movieInfo__genre {
  margin: 10px 0 40px;
  font-size: 24px;
}

.movieInfo__moreData {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 40px;
}

.movieInfo__year {
  margin: 0 50px 0 0;
}

.movieInfo__duration {
  margin: 0;
}

.movieInfo__description {
  margin: 0;
  font-size: 24px;
}
