.app {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__title {
  color: #fff;
  margin: 0;
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
}
