.backToSearchButton {
  position: relative;
  z-index: 2;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  transition: background .3s linear;
}

.backToSearchButton:hover {
  background: #088022;
}
