.movie {
  max-width: 365px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 10px #a8a8a8;
  cursor: pointer;
}

.movie__image {
  height: 500px;
  max-width: 100%;
}

.movie__info {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 3px;
  align-items: center;
}

.movie__title {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}

.movie__year {
  margin: 0;
  padding: 2px;
  border: 1px solid #b9b9b9;
  border-radius: 3px;
}

.movie__genre {
  margin: 0 5px 5px;
  font-size: 14px;
  text-transform: capitalize;
}
